/*--------------------------- Navbar ---------------------------*/
.navbar_container {
  display: flex;
  justify-content: space-around;
  background-color: antiquewhite;
  align-items: center;
}

.nav_logo {
  width: 60px;
}

.nav_list {
  display: flex;
}

.nav_list li {
  list-style-type: none;
  padding: 0 1rem;
}


/*--------------------------- Home ---------------------------*/

.home_pic{
  display: flex;
  height: 42rem;
  width: 100%;
  background-image: url("./images/home/food.jpeg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}

.home_content{
  margin: 4rem 20%;
  text-align: center;
}

.home_content h2{
  margin-top: 0;
}

.home_content p{
  padding: 1rem 0rem;
  padding-bottom: 3rem;
}

.round_pic_container{
  display: flex;
  justify-content: space-around;
}

.round_pic{
  border-radius: 100px;
  height: 8rem;
  width: 8rem;
}